*{ 
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 header{
        margin: 47px 0 957px 42px ;
       }

.header2{
    color: #FFFF00;}

 
 .main-image{
    width: 1440px;
    height: 1024px;
  }